sqlhistory.url=jdbc:postgresql://{{pg_host}}:{{pg_port}}/webide
sqlhistory.user=webide
sqlhistory.passwd=webide
sqlfile.url=jdbc:postgresql://{{pg_host}}:{{pg_port}}/webide
sqlfile.user=webide
sqlfile.passwd=webide
hive.metadata.url=jdbc:postgresql://{{pg_host}}:{{pg_port}}/webide
hive.metadata.user=webide
hive.metadata.passwd=webide
webserver.port=8086
webserver.ni.name=eth1
hive.addr={{thive_host}}
hive.port={{thive_port}}
lz.apiserver.url=http://tdwapi.tencent-distribute.com:8082/lhotseapiservers