#!/bin/bash
export SPARK_HOME={{spark_home}}
export SPARK_CONF=${SPARK_HOME}/conf
export SPARK_CONF_DIR=${SPARK_HOME}/conf
export SPARK_LOG_DIR={{spark_log_home}}
export HADOOP_HOME=/usr/hdp/2.2.0.0-2041/hadoop
export HADOOP_CONF_DIR={{hadoop_conf_dir}}
export LIVY_HOME={{livy_server_home}}
export LIVY_CONF_DIR={{livy_server_home}}/conf
export JAVA_HOME={{java_home}}
export LIVY_SERVER_JAVA_OPTS="-Dlivy.server.session.factory=yarn"
export CLASSPATH=$(hadoop classpath)
export TEZ_CONF_DIR={{tez_conf_dir}}
export LIVY_EXTRA_JAVA_OPTIONS=" -Dhdp.version=2.2.0.0-2041 -XX:MaxPermSize=512m"
export LIVY_PATHON_FILES={{spark_home}}/python/lib/pyspark.zip,{{spark_home}}/python/lib/py4j-0.8.2.1-src.zip