# What host address to start the server on. Defaults to 0.0.0.0. If using the
# `yarn` factory mode, this address must be accessible from the YARN nodes.
livy.server.host = {{livy_server_host}}

# What port to start the server on. Defaults to 8998.
livy.server.port = {{livy_server_port}}

# What session factory to use. The options are `process` and `yarn`.
livy.server.session.factory = yarn

# What spark-submit executable path to use to submit spark applications. Defaults to
# `spark-submit`.
livy.server.spark-submit = {{spark_submit_cmd}}

# Location to find the livy assembly. If not specified, livy will determine the
# assembly from the local jarfile. If using `yarn` sessions, this may be on HDFS.
livy.yarn.jar = {{livy_jar_file}}

# If livy should use proxy users when submitting a job.
livy.impersonation.enabled = false