Listen {{lhotse_web_listen_port}}
Alias /lhotse "{{lhotse_web_root_path}}"
<Directory "{{lhotse_web_root_path}}">
   Options FollowSymLinks
   AllowOverride None
   Order allow,deny
   Allow from all
</Directory>