base_ip = {{lhotse_base_hosts}}
base_port = {{lhotse_base_port}}
ftp_ip={{ftp_server_host}}
ftp_port={{ftp_server_port}}
ftp_user={{ftp_server_user}}
ftp_password={{ftp_server_pwd}}
ftp_path=/
doAndRedo_url=http://lhotse-yh-webCgi.tencent-distribute.com:8081/LService/RedoAndDoState
type.list={{lhotse_runner_type_list}}