ftpAddress={{ftp_server_host}}
ftpPort={{ftp_server_port}}
ftpUserName={{ftp_server_user}}
ftpPassword={{ftp_server_pwd}}
ftpRootPath={{ftp_server_root_path}}
runnerCGIPort={{lhotse_runner_cgi_port}}
		
mfs.path={{service_mfs_path}}
db.str=jdbc:mysql://{{lhotse_database_hosts}}:3306/lhotse_open?useUnicode=true&characterEncoding=utf-8
db.user={{lhotse_database_username}}
db.password={{lhotse_database_password}}
