<?php if (!defined('BASEPATH')) exit('No direct script access allowed');

$config['sso_url'] = '{{sso_server_hostname}}';
$config['sso_port'] = {{sso_server_port}};
$config['sso_application'] = '{{sso_server_application}}';

$config['portal_server_hostname'] = '{{portal_server_hostname}}';
$config['portal_server_port'] = '{{portal_server_port}}';

$config["api_server"]="http://{{lhotse_service_hosts}}:{{service_listen_port}}/LService/";

$config['ftp_server'] ='{{ftp_server_host}}';
$config['ftp_port']   ='{{ftp_server_port}}';
$config['ftp_user']   ='{{ftp_server_user}}';
$config['ftp_pwd']    ='{{ftp_server_pwd}}';
