#hermes.adapter.impl.class.pull=com.tencent.hermes.adapter.data.tdbank.pull.TDBankPullAdapter
hermes.adapter.impl.class.pull={{hermes_adapter_impl_class_pull}}
##########################
hermes.adapter.tid={{hermes_adapter_tid}}
#push
hermes.adapter.push.tdManagerIp={{hermes_adapter_push_tdManagerIp}}
hermes.adapter.push.cluster_id={{hermes_adapter_push_cluster_id}}
hermes.adapter.push.net_tag={{hermes_adapter_push_net_tag}}
hermes.adapter.push.business_id={{hermes_adapter_push_business_id}}
hermes.adapter.push.dt={{hermes_adapter_push_dt}}
hermes.adapter.push.timeout={{hermes_adapter_push_timeout}}
#pull
hermes.adapter.pull.setMaxoffset={{hermes_adapter_pull_setMaxoffset}}
hermes.adapter.pull.queueMaxsize={{hermes_adapter_pull_queueMaxsize}}
hermes.adapter.pull.speed={{hermes_adapter_pull_speed}}
hermes.adapter.pull.masterHost={{hermes_adapter_pull_masterHost}}
hermes.adapter.pull.topic={{hermes_adapter_pull_topic}}
hermes.adapter.pull.group={{hermes_adapter_pull_group}}