#!/bin/bash

nohup java -Dhermes.debug.jmx.port={{debug_jms_port}} -Dlog4j.properties.path=conf/log4j.properties -Xms{{hermes_xms}} -Xmx{{hermes_xmx}} -Xmn{{hermes_xmn}} -XX:SurvivorRatio=2 -XX:CMSInitiatingOccupancyFraction=90  -XX:MaxTenuringThreshold=4 -XX:PermSize=64m -XX:MaxPermSize=128m -XX:+UseParNewGC -XX:+CMSParallelRemarkEnabled -XX:+UseConcMarkSweepGC  -XX:+ParallelRefProcEnabled -XX:+CMSClassUnloadingEnabled -XX:SoftRefLRUPolicyMSPerMB=1 -XX:+UseCMSCompactAtFullCollection -XX:CMSFullGCsBeforeCompaction=0     -XX:+AlwaysPreTouch -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -XX:+PrintGCDateStamps -XX:+PrintTenuringDistribution -XX:+PrintGCApplicationStoppedTime -XX:-OmitStackTraceInFastThrow  -XX:+CMSPermGenSweepingEnabled  -XX:+CMSClassUnloadingEnabled -Xloggc:logs/gc_manager.log -Dfile.encoding=UTF-8 -classpath `find lib/*| grep -v source | tr '\n' ':'`:conf com.tencent.hermes.manager.server.HermesManager 8080 >logs/manager.log 2>&1 &