#!/bin/bash

nohup java -Xmx{{hermes_xmx}} -Xms{{hermes_xms}} -Xmn{{hermes_xmn}} -XX:PermSize=500M -XX:MaxPermSize=500M -Xss256K -XX:+DisableExplicitGC -XX:SurvivorRatio=1 -XX:+UseConcMarkSweepGC -XX:+UseParNewGC -XX:+CMSParallelRemarkEnabled -XX:+UseCMSCompactAtFullCollection -XX:CMSFullGCsBeforeCompaction=0 -XX:+CMSClassUnloadingEnabled -XX:LargePageSizeInBytes=128M -XX:+UseFastAccessorMethods -XX:+UseCMSInitiatingOccupancyOnly -XX:CMSInitiatingOccupancyFraction=80 -XX:SoftRefLRUPolicyMSPerMB=0 -XX:+PrintClassHistogram -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -XX:+PrintHeapAtGC -Xloggc:log/gc.log -Dhermes.debug.jmx.port=8081 -Dlog4j.properties.path=conf/log4j.properties -Dfile.encoding=UTF-8 -classpath `find lib/*| grep -v source | tr '\n' ':'`:conf com.tencent.hermes.userpackage.server.HermesUserpackageServer > logs/userpackage.log 2>&1 &