server.port={{server_port}}
spring.profiles.active=standalone
logging.config=log4j.properties
logging.level.*=INFO


ftp.ip={{ftp_ip}}
ftp.port={{ftp_port}}
ftp.user.name={{ftp_user_name}}
ftp.user.password={{ftp_user_password}}

local.base.path={{local_base_path}}