driverClassName=com.mysql.jdbc.Driver
url=jdbc:mysql://{{mysql_host}}:{{mysql_port}}/dse_configcenter
username={{mysql_user}}
password={{mysql_password}}
maxActive=30
maxIdle=10
maxWait=1000
removeAbandoned=true
removeAbandonedTimeout=180
