#######################################################################
#####             TAServer Configuration File                     #####
#######################################################################
#TAServer Host
taserver.host ={{dse_server_local_host}}
#TAServer Main TCP Port
taserver.port={{dse_server_port}}
#TAServer extended UDP Port
#taserver.udpPort=
#TAServer extended TCP port
#taserver.tcpPort=
#TAServer tcpNoDelay option
taserver.tcpNoDelay=false
#TAServer UDP Buffer Size(bytes)
taserver.udpBufferSize=1024
#TAServer Min Thread Pool Size
taserver.minThreadPoolSize=20
#TAServer Max Thread Pool Size
taserver.maxThreadPoolSize=512
#TAServer Session Timeout
taserver.sessionTimeout=120000
#TAServer Session Check Interval
taserver.sessionCheckInterval=60000
#TAServer Flow Log Rate
taserver.logRate=5
#TAServer Comet Flow Log Rate
taserver.cometLogRate=100
#TAServer default app
taserver.defaultApp=
