# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

########### These MUST be filled in for a storm configuration

java.library.path: "{{java_library_path}}"

storm.local.dir: "{{local_dir}}"

storm.zookeeper.servers:
{{storm_zookeeper_servers}}
     
storm.zookeeper.port: {{storm_zookeeper_port}}

storm.zookeeper.root: "{{storm_zookeeper_root}}"

ui.port: {{ui_port}}

logviewer.port: {{logviewer_port}}

#drpc.servers:

storm.scheduler: "{{storm_scheduler}}"
storm.messaging.transport: "{{storm_messaging_transport}}"
#storm.messaging.transport: "com.tencent.jstorm.message.zeroMq.MQContext"
 
supervisor.slots.ports:
{{supervisor_slots_ports}}

#storm.scheduler: "com.tencent.jstorm.scheduler.DefaultScheduler"

