<root>
  shm_key = {{agent_mq_dcc_2_mcd0_shm_key}}
  shm_size = 33554432
  # sem_key = 287454020
  # sem_index = 1
  # sem_size = 8
  #dequeuequeue
  sem_rlock = 0
  #enqueuequeue
  sem_wlock = 0
  #posixev/shmmshmm
  sem_name = {{agent_mq_dcc_2_mcd0_sem_name}}
  fifo_path = {{agent_mq_dcc_2_mcd0_fifo_path}}
  wait_sec = 0
  wait_usec = 10
</root>
