<root>
	server_net_handler_so_file = ./net_handler.so
	client_net_handler_so_file = ./net_handler.so

  create_server_net_handler_func = create_server_net_handler
  create_client_net_handler_func = create_client_net_handler

  bind_ip = 0.0.0.0
  bind_port = {{agent_port}}

	<udp>
		bind_ip = 0.0.0.0
		bind_port = 60001
	</udp>
</root>

