<root>
  shm_key = {{center_mq_ccd_2_mcd0_shm_key}}
  shm_size = 33554432
  # sem_key = 287454020
  # sem_index = 0
  # sem_size = 8
  # dequeue, lock when muti-process
  sem_rlock = 0
  # enqueue, lock when muti-process
  sem_wlock = 0
  # posix sem name, create at /dev/shm
  sem_name = {{center_mq_ccd_2_mcd0_sem_name}}
  fifo_path = {{center_mq_ccd_2_mcd0_fifo_path}}
  wait_sec = 0
  wait_usec = 10
</root>
