<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');
/**
 *  配置文件
 *
 * @author hillliu
 */
$config[]='';

/*
  标题配置
 */
$config['title'] = array(
    'index/index'        => '首页',
    'index/create'       => '创建节点',
    'index/iplist'       => '节点列表',
    'index/clusterlist'  => '集群列表',
);

$config['api_url'] = 'http://{{cgi_host}}:{{cgi_port}}/pgxzm-cgi/';
