hadoop.home=/gaia/hadoop/
hadoop.bin.path=bin/hadoop
hadoop.shell.client.jar=share/hadoop/yarn/hadoop-yarn-applications-distributedshell-2.4.1.jar
hadoop.shell.client.main=org.apache.hadoop.yarn.applications.distributedshell.Client
hadoop.shell.am.jar=share/hadoop/yarn/hadoop-yarn-applications-distributedshell-2.4.1.jar
hadoop.service.client.jar=share/hadoop/yarn/hadoop-yarn-applications-distributedservice-2.4.1.jar
hadoop.service.client.main=org.apache.hadoop.yarn.applications.distributedservice.Client
hadoop.service.am.jar=share/hadoop/yarn/hadoop-yarn-applications-distributedservice-2.4.1.jar

yarn.config=yarn-site.xml

etcd.url={{etcd_url}}
etcd.timeoutInSecs=30
etcd.retryTimes=3

docker.default.port={{docker_default_port}}

gaia.cluster.default={{gaia_cluster_default}}
gaia.queue.default={{gaia_queue_default}}
