server.port={{server_port}}
management.port={{management_port}}
management.address=0.0.0.0

#spring.datasource.url=jdbc:postgresql://doctor-bi-tdw.tencent-distribute.com:5432/gaia_portal
spring.datasource.url={{spring_datasource_url}}
spring.datasource.username={{spring_datasource_username}}
spring.datasource.password={{spring_datasource_password}}
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.validation-query=SELECT 1
spring.datasource.test-on-borrow=false
spring.datasource.test-on-return=false
spring.datasource.test-while-idle=true
spring.datasource.time-between-eviction-runs-millis=300000

spring.jpa.database=POSTGRESQL
spring.jpa.show-sql=false
spring.jpa.generate-ddl=false
spring.jpa.hibernate.ddl-auto={{spring_jpa_hibernate_ddl_auto}}

docker.registry.url=http://registry.oa.com

l5.interface.url=http://cl5.oa.com/interface/L5Interface.php
l5.compoentName=sp-tdw
l5.user=flashyu
l5.cmdb.id=449967
l5.moudle.isVirtual=false
l5.interface.version=1
