<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{yarn_cluster_id}}</value>
  </property>
  <property>
    <name>dfs.access.time.precision</name>
    <value>0</value>
  </property>
</configuration>
