[system]
;服务器唯一标志，必须，可设为0；设为0时系统将默认取本机IP转化为int值
brokerId= 0
;broker服务器的hostname，可以为空，默认将取本机IP
hostName={{host_name}}
;broker服务器监听的端口，必须
port={{broker_listen_port}}
;默认每个topic的分区数目，默认为1
numPartitions={{num_partitions}}
;master服务器的hostname，可以为空，默认将取本机IP
;masterHostname=127.0.0.1
;master服务器监听的端口，必须
;masterPort=9000
;HAmaster服务器地址列表
masterAddressList={{master_address_list}}

;最大允许的未flush消息数，超过此值将强制force到磁盘，默认1000
unflushThreshold={{unflush_threshold}}
;最大允许的未flush间隔时间，毫秒，默认10秒
unflushInterval={{unflush_interval}}
;单个文件的最大大小,实际会超过此值，默认1G
maxSegmentSize={{max_segment_size}}
;传输给客户端每次最大的缓冲区大小，实际一般会小于该值，默认1M
transferSize= {{transfer_size}}
;数据删除策略，默认超过7天即删除
deletePolicy={{delete_policy}}
deleteWhen={{delete_when}}
flushTxLogAtCommit=1
;数据文件路径，默认在/data/tbds/tube/data下
dataPath={{data_path}}
;启动时是否并行加载数据
loadMessageStoresInParallel={{load_message_stores_in_parallel}}

[zookeeper]
;zk上的数据目录路径
zk.zkRoot=/{{zk_root}}_broker
;zk服务器地址
zk.zkConnect={{zk_connection}}
;zk心跳超时，单位毫秒，默认30秒
zk.zkSessionTimeoutMs=30000
;zk连接超时时间，单位毫秒，默认30秒
zk.zkConnectionTimeoutMs=30000
;zk数据同步时间，单位毫秒，默认5秒
zk.zkSyncTimeMs=5000

[topic=test]
