[master]
;master主机地址，非必填项；默认使用本机ip
hostName={{host_name}}
;master监听的端口，必填项；
port={{master_listen_port}}
;master web控制台的访问端口
webPort={{master_web_port}}
;reblance周期，非必填项；默认10s
consumerBalancePeriod={{consumer_balance_period}}
;master启动后首次进行rebalance的时间，当集群规模较大时，请调大该值；非必填项，默认60s
firstBalanceDelayAfterStart={{first_balance_delay_after_start}}
;consumer心跳超时时间，非必填项；默认10s
consumerHeartbeatTimeout={{consumer_heartbeat_timeout}}
;producer跳超时时间，非必填项；默认10s
producerHeartbeatTimeout={{producer_heartbeat_timeout}}
;broker心跳超时时间，非必填项；默认5s
brokerHeartbeatTimeout={{broker_heartbeat_timeout}}

[zookeeper]
;zk上的数据目录路径
zk.zkRoot=/{{zk_root}}_master
;zk服务器地址
zk.zkConnect={{zk_connection}}
;zk心跳超时，单位毫秒，默认30秒
zk.zkSessionTimeoutMs=30000
;zk连接超时时间，单位毫秒，默认30秒
zk.zkConnectionTimeoutMs=30000
;zk数据同步时间，单位毫秒，默认5秒
zk.zkSyncTimeMs=5000